click==8.0.3
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
mux-python @ git+https://github.com/muxinc/mux-python.git@40419998fea137ba534b0ed62d36d831baeb63f6
python-dateutil==2.8.2
python-dotenv==0.19.1
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
